@import "../../utils";

.loginFormWrapper {
  width: 50%;

  @media (max-width: $small-screen-layout-width) {
    width: 65%;
  }

  @media (max-width: $tablet-layout-width) {
    padding: 0rem 1rem;
    width: 75%;
  }

  @media (max-width: $small-tablet-layout-width) {
    width: 80%;
  }

  @media (max-width: $mobile-layout-width) {
    width: 90%;
  }

  .header {
    margin: 1rem 0rem;
    text-align: center;
    .title {
      line-height: 2rem;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .subTitle {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-top: calc(0.5rem * 1);
      color: hsl(var(--muted-foreground));
    }
  }

  .form {
    margin: 0.75rem 0rem;

    input + p {
      margin-bottom: 1rem;
    }

    input,
    button {
      margin-top: 0.5rem;
    }

    .submitButton {
      width: 100%;
    }

    .error{
      text-align: center;
      font-size: 0.8;
      color: hsl(var(--destructive));
    }
  }

  .separator {
    margin: 1rem 0px;
    display: grid;
    grid-template: 1fr / 1fr max-content 1fr;
    justify-content: center;
    align-items: center;

    .text {
      width: max-content;
      color: hsl(var(--muted-foreground));
      padding: 0px 0.5rem 0px 0.5rem;
      font-size: 0.75rem;
    }

    .separators {
      width: 100%;
      height: 1px;
      background-color: hsl(var(--border));
    }
  }

  .alternatives {
    button {
      width: 100%;
      margin-bottom: 0.5rem;

      .icon {
        margin: 0px 0.5rem 0px 0.5rem;
      }
    }
  }
}
